@import "../valo/valo.scss";

@mixin torvis-components {

  @include valo;

	.separator {
		height: 2px;
		width: 80%;
		background-color: #555555;
	}
	
	.separator-motif{
		height: 4px;
		width: 150px;
		background-color: #555555;
	}

	.title{
		font-size: 110%;
		text-transform: uppercase;		
		font-weight: bold; 
	}
	
	.password-layout {
		background-color: #F0F0F0;
	}
	
}